/.DS_Store
/versions
/m7_kp_setevoy_chat_v1/.idea
/m7_kp_setevoy_chat_v1/.mvn
/m7_kp_setevoy_chat_v1/info
/m7_kp_setevoy_chat_v1/src
/m7_kp_setevoy_chat_v1/.gitignore
/m7_kp_setevoy_chat_v1/client/target
/m7_kp_setevoy_chat_v1/client/src/main/resources
/m7_kp_setevoy_chat_v1/client/src/main/java/ru/netology/my_test
/m7_kp_setevoy_chat_v1/client/src/main/java/ru/netology/save
/m7_kp_setevoy_chat_v1/server/target
/m7_kp_setevoy_chat_v1/server/src/main/resources
/m7_kp_setevoy_chat_v1/server/src/main/java/ru/netology/my_test
/m7_kp_setevoy_chat_v1/server/src/main/java/ru/netology/save
/m7_kp_setevoy_chat_v1/server/file.log
/m7_kp_setevoy_chat_v1/client/logs/*.log